

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "variables";

@import "~bootstrap/scss/_reboot.scss";

body {

    background: #f2f6f7;
}

* {

    box-sizing:border-box;
    font-family: "Open Sans", serif;
}

.text-thin {
    font-weight:300;
}

.text-normal {
    font-weight:400;
}

.text-bold {
    font-weight:600;
}

@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/alert";